<nav class="navbar sadaab-navbar-color navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left page-new-top-glyp-margin">
      <a [routerLink]="['/user']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left page-new-top-glyp-margin">
      <a class="navbar-brand thick">
        <b>Websites</b>
      </a>
    </p>

    <p class="navbar-text pull-right page-new-top-glyp-margin">
      <a [routerLink]="['/user', 'website', 'new']" class="navbar-link">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid page-margin">
  <ul class="list-group margin-top margin-bottom">
    <li class="list-group-item" *ngFor="let websiteInfo of userWebsite">
      <a [routerLink]="['/user', 'website', websiteInfo['_id'], 'page']">
        {{websiteInfo['name']}}
      </a>
      <a [routerLink]="['/user', 'website', websiteInfo['_id']]">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
  </ul>
</div>

<!-- Footer -->
<nav class="navbar navbar-default sadaab-navbar-color navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
