<nav class="navbar navbar-dark fixed-top homepage-nav" id="sideNav">
  <!--<a class="navbar-brand js-scroll-trigger" href="#page-top">-->
    <!--<span class="d-block d-lg-none">Home Page</span>-->
    <!--<span class="d-none d-lg-block">-->
          <!--<img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../../../assets/uploads/profile.JPGrofile.JPG" alt="">-->
        <!--</span>-->
  <!--</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav profile-navbar-color">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#interests">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid p-0">

  <div class="backpic">
    <img class="homePage-pic" src="../../../assets/uploads/Me.jpg" />
  </div>
  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
      <h1 class="mb-0">Sadaab Ali
        <span class="text-primary">Gulani</span>
      </h1>
      <div class="subheading mb-5 address-font">Apt 1, 1 Folsom Ave, Roxbury crossing, MA 02120 · (857) 260-8645 ·
        <a href="mailto:name@email.com">gulani.s@husky.neu.edu</a>
      </div>
      <p class="mb-5 site-font">
        I am Pursuing Master’s degree in Computer Science and working as a Software Developer and Research Assistant at Northeastern University.<br>
        <br>
        Experience :<br>
        <br>
        Software developer with 3+ years of experience in Software Development using C++, Qt and boost library.<br>
        Strong experience using Python, Java and Web Technologies<br>
      </p>
      <ul class="list-inline list-social-icons mb-0">
        <li class="list-inline-item">
          <a href="https://twitter.com/sadaabali">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://linkedin.com/in/sadaab-ali-gulani">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/SadaabAli">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
    <div class="my-auto">
      <h2 class="mb-0">Projects</h2>
      <div>
        <h4>Web development project - FoodSpot</h4>
        <p>An application to search and order food online.</p>
        <a href="https://github.com/abhishekjain16/Foodspot">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
        </a>
        <a href="https://food-spot.herokuapp.com/">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-glass fa-stack-1x fa-inverse"></i>
              </span>
        </a>
      </div>
      <div>
        <h4>Web Development Assignment</h4>
        <p>Website builder Application</p>
        <a href="https://github.com/SadaabAli/webdev-gulani-sadaabali">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
        </a>
      </div>
      <div>
        <h4>Search Engine</h4>
        <p>•Developed a search engine using Beautiful Soup library of Python for information retrieval</p>
        <a href="https://github.com/SadaabAli/Search_Engine">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
        </a>
      </div>
      <div>
        <h4>Pacman</h4>
        <p>Pacman Game implemented in Python using Artificial intelligence</p>
        <a href="https://github.com/SadaabAli/Pacman---Artificial-Intelligence">
                      <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                      </span>
        </a>
      </div>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
      <h2 class="mb-5">Experience</h2>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h4 class="mb-0">Software Engineer</h4>
          <div class="subheading mb-3 address-font">Northeastern University</div>
          <p>
            1) Design and implement multi-touch features such as zoom, rotate, pan and pull tool in a protein folding game called Foldit using Python, C++, and Boost Library, enhancing the player experience and engagement by 30% <br>

            2)	Organized a research study to identify the effectiveness of the touch interface and after data analysis concluded that the new players preferred the touch over the mouse interface.<br>

            3) Add Unit tests for the standalone version of the game Foldit using CxxTest Framework.<br>

            4) Perform multiple bug fixes related to selection and UI in Foldit.<br>

            5) Presented a poster and demonstrated the Multi-touch feature of Foldit at RosettaCon.<br>
          </p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">March 2017 - Present</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h4 class="mb-0">Software Engineer</h4>
          <div class="subheading mb-3 address-font">L&T Technology Services</div>
          <p>
            Developed a PDF editor application in collaboration with a Team of 8 Developers and 2 QAs using C++ and QT for the validation and creation of artwork used in the packing industry.
          </p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Feb 2015 - Dec 2016</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h4 class="mb-0">Executive Trainee</h4>
          <div class="subheading mb-3 address-font">L&T Technology Services</div>
          <p>
            Implemented complex GUI using QT and boost libraries with proper synchronization between view and model updates for the application targeted to be in the market for an estimated 20 years
          </p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Feb 2014 - Feb 2015</span>
        </div>
      </div>

    </div>

  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
    <div class="my-auto">
      <h2 class="mb-5">Education</h2>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h4 class="mb-0">North Eastern University</h4>
          <div class="subheading mb-3 address-font">MS in Computer Science</div>
          <p>GPA: 3.6</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Jan 2017 - Present</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h4 class="mb-0">KJ Somaiya College of Engineering</h4>
          <div class="subheading mb-3 address-font">BE in Electronics</div>
          <p>GPA: 3.4</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">June 2009 - June 2013</span>
        </div>
      </div>

    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
      <h2 class="mb-5">Skills</h2>

      <div class="subheading mb-3 skills-font">Programming Languages &amp; Tools</div>
      <ul class="list-inline list-icons">
        <li class="list-inline-item">
          <i class="devicons devicons-html5"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-css3"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-javascript"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-jquery"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-sass"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-bootstrap"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-wordpress"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-java"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-code"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-python"></i>
        </li>
      </ul>

      <div class="subheading mb-3 address-font">Workflow</div>
      <ul class="fa-ul mb-0">
        <li class="orange-font">
          <i class="fa-li fa fa-check"></i>
          HTML, CSS, JavaScript, Angular JS, jQuery, Node.js, Bootstrap, MongoDB</li>
        <li class="orange-font">
          <i class="fa-li fa fa-check"></i>
          C++, Python, Java, Algorithms, Data Structures, Qt, Racket
        <li class="orange-font">
          <i class="fa-li fa fa-check"></i>
         Agile, Scrum, Prepress, Printing, Graphics, Game Development
        <li class="orange-font">
          <i class="fa-li fa fa-check"></i>
         PyCharm, Eclipse, IntelliJ, Visual Studio, XCode, JIRA (Scrum planning), CLion</li>
        <li class="orange-font">
          <i class="fa-li fa fa-check"></i>
          Unit Testing, Regression Testing</li>
      </ul>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
    <div class="my-auto">
      <h2 class="mb-5">Awards &amp; Certifications</h2>
      <ul class="fa-ul mb-0">
        <li class="orange-font">
          <i class="fa-li fa fa-trophy text-warning"></i>
          Won a “Valuable Contribution” award in 2015 at L&T Technology Services</li>
        <li class="orange-font">
          <i class="fa-li fa fa-trophy text-warning"></i>
          Won a “Valuable Contribution” award in 2016 at L&T Technology Services</li>
      </ul>
    </div>
  </section>

</div>
