<div class="container-fluid">

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Login</h1>

  <form (ngSubmit) = "login()" #f="ngForm">

  <input name = "username" placeholder="username"
         type="text"
         class="form-control"
         ngModel
         required
         #username="ngModel"/>
    <span class="help-block" *ngIf="!username.valid && username.touched">
      Please enter username!
   </span>

    <input name = "password" placeholder="password"
           type="password"
           class="form-control margin-top"
           ngModel
           required
           #password="ngModel"/>
    <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter password!
   </span>
  <button (click)="login()" class="btn btn-primary btn-block margin-top"
     type="submit"
     [disabled]="!f.valid">Login</button>
    <a href="/auth/facebook" class="btn btn-primary btn-block">
      <span class="fa fa-facebook"></span>
      Login with Facebook
    </a>
    <a class="btn btn-success btn-block margin-top" routerLink="/register">Register</a>
  </form>
</div>
