<form (ngSubmit) = "EditPage()" #f="ngForm">
  <nav class="navbar sadaab-navbar-color navbar-fixed-top nav-collapse collapsing" style="height:60px">
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-4 col-xs-1">
          <p class="navbar-text pull-left page-new-top-glyp-margin">
            <a [routerLink]="['/user', 'website', websiteId, 'page']" class="navbar-link">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
          </p>

          <!--heading on the nav bar-->
          <p class="navbar-header pull-left page-new-top-glyp-margin">
            <a class="navbar-brand thick">
              <b>Pages</b>
            </a>
          </p>

          <!--tick mark-->
          <p class="navbar-text pull-right page-new-top-glyp-margin">
            <a [routerLink]="['/user', 'website', websiteId, 'page', 'new']" class="navbar-link">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
          </p>
        </div>

        <div class="col-sm-8">
          <!--heading on the nav bar-->
          <p class="navbar-header pull-left page-new-top-glyp-margin">
            <a class="navbar-brand thick">
              <b>Edit Page</b>
            </a>
          </p>

          <!--tick mark-->
          <p class="navbar-text pull-right page-new-top-glyp-margin">
            <a (click)="EditPage()"
              class="navbar-link"
                    type="submit">
              <span class="glyphicon glyphicon-ok"></span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid page-margin">
    <div class="row">
      <div class="col-sm-4 hidden-xs">
        <ul class="list-group">
          <li class="list-group-item" ngForm="let websitePage of websitePages">
            <a [routerLink]="['/user', 'website', websiteId, 'page', currPage['_id'], 'widget']">
              {{currPage['name']}}
            </a>
            <a [routerLink]="['/user', 'website', websiteId, 'page', currPage['_id']]">
              <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-8">
        <label class="margin-top">Name</label>
        <input class="form-control margin-top"
                      placeholder="Name"
                      type="text"
                      [(ngModel)]="currPage['name']"
                      id="name"
                      name="name"
                      required/>
        <label class="margin-top">Title</label>
        <textarea class="form-control margin-top"
                         name="description"
                         id="description"
                         [(ngModel)]="currPage['description']"
                         placeholder="Description"></textarea>
        <a (click)="deletePage()" class="btn btn-danger btn-block margin-top"
           [routerLink]="['/user', 'website', websiteId, 'page']">Delete</a>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <nav class="sadaab-navbar-color navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text pull-right">
        <a [routerLink]="['/user']">
          <span class="glyphicon glyphicon-user"></span>
        </a>
      </p>

    </div>
  </nav>
</form>
