<nav class="navbar navbar-default sadaab-navbar-color navbar-fixed-top nav-collapse collapsing" style="height:60px">
  <div class="container-fluid">

    <p class="navbar-text pull-left page-new-top-glyp-margin">
      <a [routerLink]="['/user', 'website', wid, 'page', pid, 'widget']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left page-new-top-glyp-margin">
      <a class="navbar-brand thick">
        <b>Header Widget Edit</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right page-new-top-glyp-margin">
      <a (click)="updateWidget()" [routerLink]="['/user', 'website', wid, 'page', pid, 'widget']" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>
    </div>
</nav>

<div class="container-fluid">

  <form>
    <div class="form-group margin-top-huge">
      <label for="textHeader">Name</label>
      <input [(ngModel)]="textHeader"
             name="name"
             required
             type="text"
             class="form-control"
             id="textHeader"
             placeholder="Home Page">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="sizeHeader">
        Size
      </label>
      <input [(ngModel)]="sizeHeader"
             required
             name="sizeHeader"
             type="number"
             class="form-control"
             id="sizeHeader"
             placeholder="3">
    </div>
  </form>

  <a (click)="deleteWidget()" class="btn btn-danger btn-block "
     [routerLink]="['/user', 'website', wid, 'page', pid, 'widget']">Delete</a>
</div>

<!-- Footer -->
<nav class="navbar navbar-default sadaab-navbar-color navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
