<nav class="navbar navbar-default sadaab-navbar-color navbar-fixed-top nav-collapse collapsing" style="height:60px">
  <div class="container-fluid">
     <p class="navbar-text pull-left page-new-top-glyp-margin">
        <a [routerLink]="['/user', 'website', wid, 'page', pid, 'widget']" class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </p>

    <p class="navbar-header pull-left page-new-top-glyp-margin">
        <a class="navbar-brand thick">
          <b>YouTube Widget Edit</b>
        </a>
      </p>

      <!--tick mark-->
      <p class="navbar-text pull-right page-new-top-glyp-margin">
        <a (click)="updateWidget()" [routerLink]="['/user', 'website', wid, 'page', pid, 'widget']" class="navbar-link">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </p>
    </div>
</nav>


<div class="container-fluid page-margin">
  <form>
    <div class="form-group">
      <label for="url">URL</label>
      <input type="url"
             class="form-control"
             id= "url"
             placeholder="www.youtube.com"
             name="url"
             [(ngModel)]="url">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="width">Width</label>
      <input [(ngModel)]="width"
             name="width"
             required
             type="text"
             required
             class="form-control"
             id="width"
             placeholder="100%">
    </div>
  </form>
  <div class="form-group">
    <a (click)="deleteWidget()"
       class="btn btn-danger btn-block "
       [routerLink]="['/user', 'website', wid, 'page', pid, 'widget']">
      Delete
    </a>
  </div>
</div>


<!-- Footer -->
<nav class="navbar navbar-default sadaab-navbar-color navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
