<nav class="navbar sadaab-navbar-color navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a [routerLink]="['/user', uid, 'website' , wid, 'page' , pid, 'widget']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>Choose Widget</b>
      </a>
    </p>

  </div>
</nav>

<div class="container-fluid page-margin">
  <ul class="list-group">
    <li class="list-group-item">
      <a  [routerLink]="['/user', uid, 'website' , wid, 'page' , pid, 'widget', 'new', 'header']">
        Header
      </a>
    <li class="list-group-item">
      <a [routerLink]="['/user', uid, 'website' , wid, 'page' , pid, 'widget', 'new', 'html']">
        HTML
      </a>
    <li class="list-group-item">
      <a [routerLink]="['/user', uid, 'website' , wid, 'page' , pid, 'widget', 'new', 'image']">
        Image
      </a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/user', uid, 'website' , wid, 'page' , pid, 'widget', 'new', 'youtube']">
        YouTube
      </a>
    </li>
  </ul>
</div>

<!-- Footer -->
<nav class="sadaab-navbar-color navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user', uid]">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
