/* You can add global styles to this file, and also import other style files */
.left-padding
{
  padding-left: 200px;
}

.sadaab-navbar-color
{
  color:blue;
  background-color: lightskyblue !important;
}

.sadaab-toolbar
{
  position: absolute;
  right: 0px;
  background-color: grey;
  padding: 7px;
  border-bottom-left-radius: 10px;
  opacity: 0.7;
}

.sadaab-widget .sadaab-content
{
  width: 100%;
}

.margin-top
{
  margin-top: 10px;
}

.margin-bottom
{
  padding-bottom: 100px;
}

.split-nav-bar-glyp-margin
{
  padding-left: 300px
}

.split-nav-bar-text-margin
{
  padding-left: 3%;
}

.page-margin
{
  top: 0px;
  bottom: 0px;
  left: 0px;
  margin-top: 50px;
  padding-top: 15px
}
