<nav class="navbar navbar-default sadaab-navbar-color navbar-fixed-top nav-collapse collapsing" style="height:60px">
  <div class="container-fluid">
   <p class="navbar-text pull-left page-new-top-glyp-margin">
      <a [routerLink]="['/user', 'website', wid, 'page', pid, 'widget']" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left page-new-top-glyp-margin">
      <a class="navbar-brand thick">
        <b>Image Widget Edit</b>
      </a>
    </p>

      <!--tick mark-->
      <p (click)="updateWidget()" class="navbar-text pull-right page-new-top-glyp-margin">
        <a class="navbar-link">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </p>
    </div>
</nav>

<div *ngIf="error"
     class="alert alert-danger margin-top-huge">
  {{error}}
</div>

<div class="container-fluid page-margin">
  <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label>
        Upload Image
      </label>
      <input name="myFile" type="file" class="form-control"/>
    </div>

    <div class="form-group">
      <label for="url">URL</label>
      <input type="text" class="form-control" id="url" placeholder="https://www.youtube.com/watch?v=WD0eofKKH4c" name="url" [(ngModel)]="url">
    </div>

    <div class="form-group">
      <label for="width">Width</label>
      <input [(ngModel)]="width"
             name="width"
             required
             type="text"
             required
             class="form-control"
             id="width"
             placeholder="100%">
    </div>
    <input  name="widgetId" value="{{wgid}}"   style="display: none"/>
    <input  name="websiteId" value="{{wid}}"   style="display: none"/>
    <input  name="pageId" value="{{pid}}"   style="display: none"/>
    <input  name="userId" value="{{userId}}"   style="display: none"/>
    <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
    <br/>
    <a class="btn btn-primary btn-block margin-flick-button-bottom"
       [routerLink]="['/user/' + '/website/'+wid+'/page/'+pid+'/widget/'+wgid+'/flickr']" >Choose From Flickr</a>
    <div class="form-group">
      <a (click)="delete()"
         class="btn btn-danger btn-block ">
        Delete
      </a>
    </div>
  </form>
</div>

<!-- Footer -->
<nav class="navbar navbar-default sadaab-navbar-color navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/user']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
